.contenedor{
	height:700px; 
	width:700px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.caja{

	width: 200px;
	height: 200px;
	position: relative;
	
}
p{
	color: #FFF;
	position: absolute;
	bottom: 2px;
	right: 0px;
	padding:0px;
	margin:0px;
}

hr{
	border: 2px solid black;
	width: 80px;
	margin-left:0%; 
	
}
.uno{
	position: absolute;
	left: 350px;
	top:100px;
}

.dos{
	position: absolute;
	left: 600px;
	top: 100px;
}
.tres{
	position: absolute;
	left: 850px;
	top: 100px;
}
.cuatro{
	position: absolute;
	left: 350px;
	top: 350px;
}
.cinco{
	position: absolute;
	left: 600px;
	top: 350px;
}
.seis{
	position: absolute;
	left: 850px;
	top: 350px;
}